<div class="container">
    <div class="text-center">
        <h1 id="indexHead">Nxtlife Meeting Notes</h1>
        <p class="lead">{{message}}</p>
    </div>

    <div>
        <!--<h2>Latest Notes</h2>-->
        <div class="container">
            <!--Filter notes list by member name-->
            <form action="/" method="post">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <select id="memberName" name="memberName" class="form-control">
                            <option>All</option>
                            <option>ankit</option>
                            <option>Tushar</option>
                            <option>Ajay</option>
                            <option>Dhyan'er</option>
                            <option>Pankaj</option>
                            <option>Vinay</option>
                        </select>
                    </div>
                    <div class="col-md-8 column">
                        <!-- Button -->
                        <button id="btnFilterNotes" name="btnFilterNotes" class="btn btn-link" type="submit">Filter Task</button>
                    </div>
                </div>
            </form>
        </div>

         <div class="container" >
            <div class="col-md-12 column list-group">
                {{#each notes }}
                <div class="list-group-item" id="NoteShow">
                    <div><strong>{{ this.memberName }}</strong><em>Worked on :<strong> {{ this.project }}</strong></em>
                    </div>
                    <div><strong>Done on:</strong> {{ this.createdOn}}</div>
                    <div><strong>Work yesterday:</strong> {{ this.workYesterday }}</div>
                    <div><strong>Work today:</strong> {{ this.workToday }}</div>
                    <div><strong>Impediment:</strong> {{ this.impediment }}</div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    <!-- /.container -->
